form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}


.contact {
    border: 1px solid grey;
    border-radius: 3px;
    width: fit-content;
    padding: 20px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

input {
    margin-bottom: 1.5rem;
}

textarea {
    margin-bottom: 1.5rem;
    min-width: 225px;
    min-height: 125px;
}


.submit-btn{
    border: 1px solid black;
    width: 150px;
    background-color: rgb(170, 15, 15);
    color: white;
    font-weight: 900;
}

.submit-btn:hover{
    border-radius: 10px;
    transition: 0.4s ease;
    font-weight: 900;
}