.sponsors{
    background-color: #d8d8d8;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.picture{
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color:black;
    user-select: none;
    z-index: 10;
}

.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color:black;
    user-select: none;
    z-index: 10;
}

.slide{
    opacity: 0;
    transition-duration:1s ease ;
}

.slide.active{

    width: 80%;
    opacity: 1;
    transition-duration: 1.5s;
    transform: scale(1.02);
}

.sponsor-pos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    font-weight: bold;
    font-size: 0.85rem;
}

.sponsor-pos:hover{
    background-color: whitesmoke;
    font-weight: bold;
    box-shadow: -1px 10px 20px -6px rgba(0, 0, 0, 0.75);
    transition: 0.4s ease-in-out;
}

.sponsor-info{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
