.sponsors{
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture{
    height: 300px;
    width: 500px;
    border-radius: 10px;
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color:black;
    user-select: none;
    z-index: 10;
}

.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color:black;
    user-select: none;
    z-index: 10;
}

.slide{
    opacity: 0;
    transition-duration:1s ease ;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.02);
}
.text{
    border-radius: 10px;
    width: 500px;
}
