body{
    font-size: 12px;
}


.profile{
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    background-color: #eaf4fc;
    
    height: fit-content;
    min-width: 30%;
    max-width: 30%;
    
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2rem;
    border: 2px solid black;
    border-radius: 5%;
    font-weight: 500;
}

.profile:hover{
    /*
    box-shadow: 25px 25px 25px 25px;
    */
    font-weight: 600;
    opacity: 1;
 
}

@media(max-width: 767px){
    .profile{
        min-width: 100%;
        max-width: 100%;

    }
}