body{
    font-size: 12px;
}


.profile{
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    background-color: white;
    
    height: fit-content;
    min-width: 30%;
    max-width: 30%;
    
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2rem;
    border: 1px solid black;
    border-radius: 1%;
    font-weight: 500;
    font-size: 1rem;
}

.profile:hover{
    /*
    box-shadow: 25px 25px 25px 25px;
    */
    background-color: whitesmoke;
    opacity: 1;
    box-shadow: -1px 10px 20px -6px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    background: white;
    transition: 0.4s ease;
 
}

@media(max-width: 767px){
    .profile{
        min-width: 100%;
        max-width: 100%;

    }
}