* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    
    }
    

    .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        background-color: rgb(255, 255, 255);
        width: 100%; 
        padding: 5px;
        min-height: 2%;
        max-height: 2%;
        height: 120px;
        border: 1px solid rgba(0,0,0,.125);
       
    
    }

    .list:hover{
        background-color: whitesmoke;
    }

    .list-container{
        display: block;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        
    }


    @keyframes example{
        0% {left: 250%}
        20% {left: 150%;}
        40% {left: 50%}
        60% {left: -50%}
        80% {left: -150%}
        100% {left: -250%}
       
    }

    .listed-coins{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
     
        animation-duration: 60s;
        animation-iteration-count: infinite;
       
    }


    .coinlist{
        padding-right: 1 rem;
    }

    ul.coinlist {
        list-style: none;
     
    }

    .lists-items{
        position:relative;
        display:block;
        padding: 1rem 4.64rem;
        background-color:#fff;
        border: 1px solid rgba(0,0,0,.125);
  
    }
    
    .coinlist-image{
        max-width: 50px;
        max-height: 50px;
    }
    
    .coinlist-item{  
        display: inline;
        z-index: 100;

    }

    .list-container{
        width: 100%;
    }
         
    .coin-data-category{
        font-size: 10px;
    }
    
    .delete-icon{
        display: none;
        position: absolute;
        right: 6px;
    }
    
    .coin:hover .delete-icon{
        display: block;
    }