* {
    font-family: "poppins", sans serif;
    border: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

.App-header {
    background: radial-gradient(ellipse at center, rgba(2,162,239,1) 0%,rgba(3,106,179,1) 100%);
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App {
    text-align: center;
}

.message-style{
    background-color: #eaf4fc;
    position: relative; 
    top: 175px;
    margin: auto;

    border-radius: 0px 10px 10px 0px;
    margin-right: 40%; 

    padding: 30px;
    opacity: 0.90;
    text-align: left;
    font-weight: 500;
    z-index: 2;

}

.message-style:hover{
    opacity: 1;
    box-shadow: -1px 10px 20px -6px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    background: linear-gradient(to left, rgb(231, 224, 224) 100%, white 50%) right;
    transition: 0.2s ease;
}

#particles{
    z-index: -1;
}

#home-div{
    height: 100vh; 
    background: radial-gradient(ellipse at center, rgb(255, 81, 81) 0%,rgb(99, 0, 0) 100%);
}

#about{
    height: 100vh;
    background: #fdfff5;
}

.about-pos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 125px;
    margin-bottom: 125px;
}

.crypto-pos{
    z-index: 2;
    height: fit-content;
    width: 100%;
    position: relative;
    top: 72px;
 
}
.particles{
    height: 0px;
    z-index: -1;
}

#education{
    height: 100vh;
}
.education-pos{
    position: relative;
    top: 80px;  
}

.footer-pos{
    background-color: #f3f2ed;
    position: relative;
    opacity: 0.9;   
}

.sponsors-pos{
    background-color: #f3f2ed;
    position: relative;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0.9;
}



@media(max-width: 767px){
    .message-style{
        margin-right: 15%;
        border-radius: 0px 5px 5px 0px;
        top: 275px;
    
    }


}