* {
    font-family: "poppins", sans serif;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App {
    text-align: center;
}

.message-style{
    background-color: whitesmoke;
    position: relative; 
    top: 250px;  
    margin-left: 10%;
    margin-right: 10%; 
    padding: 40px;
    opacity: 0.95;
}

.message-style:hover{
    font-weight: 600;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 700px;

}

