* {
    font-family: "poppins", sans serif;
    border: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

.App-header {
    background: radial-gradient(ellipse at center, rgba(2,162,239,1) 0%,rgba(3,106,179,1) 100%);   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App {
    text-align: center;
    background-color: white;
}

.message-style{
    box-shadow: 0 8px 14px 0 rgba(60,60,60, 0.3);
    background-color: white;
    position: relative; 
    top: 25%;
    margin: auto;
    
    border: 1px solid #ededed;
    margin-right: 20%; 
    margin-left: 20%;
    padding: 30px;
    opacity: 1;
    text-align: left;
    font-weight: 900;
    z-index: 2;
    font-size: 1rem;
    display: flex;
    flex-direction: row;

}

header {
    z-index: 10;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

em {
    font-size: 3rem;
}


ul{
    list-style-type: none;
    z-index: 2;
}
li a{
    text-decoration: none;
    color:#fff;
    z-index: 2;
}

.rectangle{
    background-color: white;
    position: relative;
    top: -60px;
    
    height: 100px;
  
    transform: rotate(358deg);
}

.link{
    color: white; 
    padding: 10px;
    font-size: 16px;

}

.link::after{
    content: '';
    display:block;
    width: 0;
    height: 2px;
    background:#fff;
    transition: width .3s;
}
.link:hover{
    color:#fff;
}
.link:hover::after{
    width:100%;
    transition: width .3s;
}

.link-style{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.message-style:hover{
    opacity: 1;
    box-shadow: -1px 10px 20px -6px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    background: whitesmoke;
    transition: 0.4s ease;
}

#particles{
    position: relative;
    top: -200px;
    margin: auto;   
    z-index: 1;
}

#home-div{
    height: 60vh; 
    background: radial-gradient(ellipse at center, rgb(255, 81, 81) 0%,rgb(99, 0, 0) 100%);
}

#about{
    height: 127vh;
    margin: auto;
    margin-top: 40%;
    box-shadow: 0 8px 14px 0 rgba(60,60,60, 0.3);
    border: 1px solid #ededed;
    background-color: #f5f5f5;
    width: 80vw;

    
}

.about-pos{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;

}

.crypto-pos{
    z-index: 2;
    height: fit-content;
    width: 100%;
    position: relative;
    
 
}
.particles{
    height: 0px;
    z-index: -1;
}

#education{
    height: 100vh;
    position: relative;
    top: 350px;
    margin: auto;
}

.education-pos{
    position: relative; 
    top: 150px;
}

.footer-pos{
    background-color: #f3f2ed;
    position: relative;
    opacity: 0.9; 
    top: 200px;  
}

.sponsors-pos{  
    position: relative;
    top: 35%; 
    width: 120%;
    right: 125px;
    margin-top: 5%;
    margin-bottom: 15%;
    opacity: 0.9;

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    .sponsors-pos{  
        position: relative;
        top: -65%; 
        width: 120%;
        right: 240px;
        margin-top: 5%;
        margin-bottom: 15%;
        opacity: 0.9;
    
    }
   
    #about{
        height:115vh;
        margin-top:93%;
        width:95vw
    }
    .message-style {
        box-shadow: 0 8px 14px 0 rgba(60,60,60, 0.3);
        background-color: white;
        position: relative;
        top: 25%;
        right: 100px;
        margin-right: -8%;
        margin-left: 20%;
       
    }
}

@media(max-width: 767px){
    .message-style{   
        border-radius: 0px 5px 5px 0px;
        top: 75px;
        margin-right: 10%; 
        margin-left: 10%;  
    }
    #about{
        height: 215vh;

        margin-top: 1050px;      
    }

    header{
        flex-direction: column;
    }

    .education-pos{
        top: 225px;
        
    }

    .about-pos{
        top: 0px;
    }

    .sponsors-pos{
        top: 2%;
    }

    #header-title{
        font-size: 2.25rem;
    }

}


   /* iPhone 5 ----------- */
   @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .message-style{   
        border-radius: 0px 5px 5px 0px;
        top: 0px;
        margin-right: 8%; 
        margin-left: 8%;  
    }
    #about {
        height: 400vh;
        margin-top: 1500px;
    }
    }

@media(max-width: 376px){
   .about-pos{
        left: -3%;
    }
}

    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        /* Styles */
        .sponsors{
            position: relative;
            left: 25%;
            top: 116vh;
            flex-direction: column;
            width: fit-content;
            justify-content: center;
            align-items: center;
        }
        }
        
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        /* Styles */
       #about{
        height: 250vh;
        margin-top: 1125px;  
       }
    }

     /* iPhone 5 ----------- */
     @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        /* Styles */
        }
        
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        /* Styles */
        #about{
        height: 280vh;
        margin-top: 1450px;      
        }
        .message-style{   
            border-radius: 0px 5px 5px 0px;
            top: 0px;
            margin-right: 10%; 
            margin-left: 10%;  
        }
        .crypto-pos{
            bottom: 30px;
        }
        #education{
            top:580px;
        }
    }




    /* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .message-style {
        border-radius: 0px 5px 5px 0px;
        top: 0px;
        margin-right: 10%;
        margin-left: 15%;
    }
    #about {
        height: 400vh;
        margin-top: 1500px;
    }
    #education{
        top:400px;
    }
    .sponsors-pos {
        top: 34%;
    }
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .message-style{   
        border-radius: 0px 5px 5px 0px;
        top: 30px;
        margin-right: 10%; 
        margin-left: 10%;  
    }
    }


    


        