.footer{
    background-color: #d8d8d8; 
}


.footer-routes{
    font-size: 1.25rem;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
}


.link{
    color: black; 
    padding: 10px;
    font-size: 16px;

}
.link::after{
    content: '';
    display:block;
    width: 0;
    height: 2px;
    background:#fff;
    transition: width .3s;
}
.link:hover{
    color:white;
}
.link:hover::after{
    width:100%;
    transition: width .3s;
}

.link-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}