.footer{
    background-color: #d8d8d8; 
}

h1{
    font-size: 1.5rem;
}

.socials{
    font-size: 1.5rem;
    padding: 5px;
}

.socials a{
    color:black;
}
.footer-routes{
    font-size: 1.25rem;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
}